.navbar-link-container {
    padding: 1rem;
    background-color: rgb(114, 114, 202);
    color: white;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
    
}

.navbar-link-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

